   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f2f4f7;
   
   
}

.container {
    width: 380px;
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 25px;
}

/* Bus Image */
.bus-img-box {
    text-align: center;
}
.bus-img-box img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #0d6efd;
}

/* Bus Details */
.bus-details {
    text-align: center;
    margin-top: 15px;
}

.bus-details h2 {
    font-size: 24px;
    color: #0d6efd;
    font-weight: 700;
}

.bus-details p {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 3px;
}

/* Feedback Form */
.feedback-form {
    margin-top: 25px;
}

.feedback-form h3 {
    margin-bottom: 10px;
    color: #0d6efd;
    text-align: center;
}

.feedback-form label {
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    border-color: #0d6efd;
}

.feedback-form textarea {
    height: 100px;
    resize: none;
}

.feedback-form button {
    width: 100%;
    padding: 12px;
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.feedback-form button:hover {
    background: #004ab9;
}
 nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #055C9D;
            padding: 17px;
            margin-bottom: 20px;
        }

        nav p {
            color: white;
            font-size: 32px;
            font-weight: bolder;
        }

        nav button {
            padding: 10px 20px;
            border-radius: 8px;
            background-color: #0b0bdb;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 15px;
        }